@charset "utf-8";
/* CSS Document */

body, section, article, header, footer, nav, div, p, h1, h2, h3, h4, h5, h6, ul, li, ol, dl, dt, dd {
	margin: 0;
	padding: 0;
	list-style: none;
	
}
@font-face {
	font-family: 'fontfamily';
	font-style: normal;
	font-weight: 700;
	src: url('fontfamily.ttf');
}
body {
	font-size: 62.5%;
	color:#fff;
	font-family: fontfamily;
	background:#600/* 5e624c */;
	background-image:
-webkit-linear-gradient(left,rgba(255,255,255,0) 33%,rgba(255,255,255,0.05) 33%,rgba(255,255,255,0.05) 66%,rgba(0,0,0,0.05) 66%),
-webkit-linear-gradient(bottom,rgba(255,255,255,0) 33%,rgba(255,255,255,0.05) 33%,rgba(255,255,255,0.05) 66%,rgba(0,0,0,0.05) 66%);
	background-size:20px 20px;
}
header, nav, section, article, footer, contact {
	display: block;
}
/* .menu {
	width: 100%;
	height: 50px;
	text-align: center;
}
.menu li {
	width: 10%;
	display: inline-block;
}
.menu li a {
	font-size: 1.5em;
	color: #000;
} */
/* #index,#intro,#layout,#debug */


.clearfix:before,
.clearfix:after{
	content:".";
	display:block;
	clear:both;
	height:0;
	overflow:hidden;		
}
.clearfix{zoom:1;}

.class{
	overflow:hidden;
	zoom:1;
}

.nav-item{
	position:relative;
	float:left;
	padding:5px 10px;
	line-height: 2em;
	text-align:center;
	font-size:1.2em;	
	color:#fff;
	background:#F63;
	border-radius:0 0 10px 10px;
	text-decoration:none;
	margin-right:-10px;
	vertical-align:top;
	-webkit-transition:all .3s ease-in-out;
	box-shadow:-2px 2px 5px #000;
	font-family:microsoft yahei;
}
.nav-item:hover,
#index:target,
#intro1:target,
#intro2:target,
#layout:target,
#debug:target,
#table:target,
#float:target,
#float-ex:target,
#position:target{
	line-height:2.9em;
	background:#39F;
	z-index:1;
	box-shadow:0px 2px 8px #000;
}
.nav-item:hover{background:#F0F; z-index:2;}
.fixed-bd {
	position: fixed;
	width: 2000%;
	left: 0;
	top: 5em;
	bottom: 0;
}
.content {
	position:absolute;
	width: 100%;
	height: 100%;
	left:0;
	top:0;
	-webkit-transition:all 1s ease;
}
.box {
	width: 5%;
	float: left;
	position: relative;
	height: 100%;

}
.ppt-bg {
	position: absolute;
	left: 20%;
	right: 20%;
	top: 0;
	bottom: 10%;
	background:rgba(0,0,0,.1);
	border-radius: 15px;
	box-shadow: 5px 5px 18px #000,0 0 10px rgba(0,0,0,.5);
	_background-image:
	-webkit-radial-gradient(50% 50%, contain, #767969,#767969 48%, rgba(118,121,105,0) 50%),
	-webkit-radial-gradient(50% 36%, contain, rgba(118,121,105,0),rgba(118,121,105,0) 53%, rgba(118,121,105,0) 55%),
	-webkit-radial-gradient(50% 70%, contain, rgba(255,255,255,0.05), rgba(255,255,255,0.05) 53%, rgba(118,121,105,0) 54%);
	background-size:5px 5px;
	background-position:-5px -5px;
}
.ppt-hd, .intro .ppt-bd {
	
	padding: 0 2em;
	background:rgba(0,0,0,.2);
	border: 1px solid rgba(0,0,0,.4);
	border-radius: 25px 0 25px 0;
	margin: 2em;
	box-shadow: 0 0 1px rgba(0,0,0,.6), 0 0 5px rgba(255,255,255,.2) inset;
	text-align: center;
	
}
.intro .ppt-bd{
	height:90%;
	text-align:left;
	font-family:microsoft yahei;
}
.intro .ppt-bd header{border-bottom:1px solid #999;}
.intro .ppt-bd header h2{ text-align:right; font-size:4em; line-height:2em;color:#fff; font-family:fontfamily;}
.intro .ppt-bd h3{font-size:30px; line-height:80px; font-weight:normal; color:#FF0;}
.intro .ppt-bd .list > li{font-size:25px; line-height:40px;margin-left:1.5em;}
.intro .ppt-bd .list > li > ul{margin-left:1.5em;}
.intro .ppt-bd .list > li > ul > li{font-size:20px; line-height:30px;color:#CCC;}
.ppt-hd h1{
	font-size: 5.5em;
	line-height: 5em;
	color: rgba(255,255,255,.5);
	font-weight:bold;
	-webkit-text-stroke:1px #fff;
	text-shadow:0 0px 10px #ebff8d;
	background:-webkit-linear-gradient(top,#eee,#aaa,50%,#333,51%,#000);
}
.contact contact{
	text-align:center;
	font-size:2em;
	line-height:3em;
	color:rgba(255,255,255,.8);
	font-family:microsoft yahei;	
}
.ppt-ft{
	width:100%;
	position:absolute;
	text-align:right;
	padding:0 2em 1em 0;
	bottom:0;
	right:0;
}
.ppt-ft a{
	font-size:1.8em;
	color:#CCC;
	text-decoration:none;
	-webkit-transition:all .2s ease-in-out;
}
.ppt-ft p:hover a{
	color:#FF3;
	-webkit-animation-name:'next';
	-webkit-animation-duration: 1s;/*播放一次所持续时间*/
    -webkit-animation-timing-function: ease;/*动画播放频率*/
	-webkit-animation-iteration-count:infinite;/*动画播放次数，infinite 表示无限循环*/

}
@-webkit-keyframes 'next'{
	0% {text-shadow:0 0 2px #FF0;color:#ff0;}
	50% {text-shadow:0 0 8px #FF0;color:#F00;}
	100% {text-shadow:0 0 8px #FF0;color:#ff0;}
}
#index:target ~ .fixed-bd>.content{
	left:0;
}
#intro1:target ~ .fixed-bd>.content{
	left:-5%;
}
#intro2:target ~ .fixed-bd>.content{
	left:-10%;
}
#layout:target ~ .fixed-bd>.content{
	left:-15%;
}
#table:target ~ .fixed-bd>.content{
	left:-20%;
}
#float:target ~ .fixed-bd>.content{
	left:-25%;
}
#float-ex:target ~ .fixed-bd>.content{
	left:-30%;
}
#position:target ~ .fixed-bd>.content{
	left:-35%;
}
#debug:target ~ .fixed-bd>.content{
	left:;
}

.intro .ppt-bd{
		
}